.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .paginationItem {
    background: #fff;
    border: 2px solid #666;
    padding: 10px 15px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .dataContainer{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 20px;
  }

  .prev,
  .next {
    background: #fff;
    border: none;
    padding: 10px;
    color:  #606EFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.prev:hover,
.next:hover {
    background:  #606EFF;
    color:  #FFF;
}
  
  .paginationItem.active {
    border: 1px solid #888;
    color: #888;
    pointer-events: none;
  }
  
  .prev.disabled,
  .next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
  }


  


  @media only screen and (max-width: 850px) {
    .dataContainer {
      grid-template-columns: 1fr;
    }
  }